@tailwind base;
@tailwind components;
@tailwind utilities;

.heart-image {
    --_m: radial-gradient(#000 69%, #0000 70%) 84.5%/50%;
    -webkit-mask-box-image: var(--_m);
    mask-border: var(--_m);
    clip-path: polygon(-42% 0, 50% 91%, 142% 0);
}

.heart-shadow {
    --_m: radial-gradient(#000 69%, #0000 70%) 84.5%/50%;
    -webkit-mask-box-image: var(--_m);
    mask-border: var(--_m);
    clip-path: polygon(-42% 0, 50% 91%, 142% 0);
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.3));
}

.margin-top-0 {
    margin-top: 0 !important;
}

.ring-none {
    box-shadow: none !important;
}

.loader {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    display: inline-block;
    border-top: 7px solid #FF96AC;
    border-right: 7px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    border-left: 7px solid #ed3a5f;
    border-bottom: 7px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #faf8ef;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #efecde;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #efecde;
}
@layer base {
    :root {
        --radius: 0.5rem;
    }
}
